doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(name='msapplication-tap-highlight' content='no')

    title
      block title
        | #{site.title}

    meta(name='description', content=meta.description)

    // Facebook
    meta(property='og:title', content=meta.facebook.title)
    meta(property='og:description', content=meta.facebook.description)
    meta(property='og:site_name', content=site.name)
    meta(property='og:url', content=site.url)
    meta(property='og:type', content='product')
    meta(property='og:locale', content='en_US')
    meta(property='og:image', content=meta.facebook.image)
    meta(property='fb:app_id', content=meta.facebook.appid)

    // Twitter
    meta(name='twitter:title', content=meta.twitter.title)
    meta(name='twitter:description', content=meta.twitter.description)
    meta(name='twitter:site', content=social.twitter.username)
    meta(name='twitter:image', content=meta.twitter.image)
    meta(name='twitter:url', content=site.url)

    link(rel='stylesheet', href='css/app.css', type='text/css')

    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon" type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon" type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/manifest.json")
    link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="theme-color", content="#ffffff")

    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,500|Montserrat:300', rel='stylesheet')

    block style

    block headscript
    <!--[if lt IE 10]>
    script(src='/js/polyfill/html5-shiv.js')
    <![endif]-->

  body
    // Header
    block preheader

    block header
      header
        nav.left
          a#home(href='/')
            img.logo(src='/img/logo.png', alt=site.name)
        nav.right.links
          a(href='https://www.facebook.com/getmakeupfit', target='_blank')
            img.social(src='/img/icon/facebook.svg')
          // a(href='https://twitter.com', target='_blank')
          //   img.social(src='/img/icon/twitter.svg')
          a(href='https://www.instagram.com/getmakeupfit', target='_blank')
            img.social(src='/img/icon/instagram.svg')
          // a(href='https://pinterest.com/', target='_blank')
          //   img.social(src='/img/icon/pinterest.svg')
          a(href='https://medium.com/makeup-fit', target='_blank')
            img.social(src='/img/icon/medium.svg')

    main
      block content

    footer
      nav
        .left
          span
            | About Us
          a(href='/')
            | Home
          a(href='https://medium.com/makeup-fit', target='_blank')
            | Blog
          a(href='/privacy')
            | Privacy
          a(href='/terms')
            | Terms

        .right
          span
            | Follow us
          a(href='https://facebook.com/getmakeupfit', target='_blank')
            | Facebook
          a(href='https://twitter.com/getmakeupfit', target='_blank')
            | Twitter
          a(href='https://instagram.com/getmakeupfit', target='_blank')
            | Instagram
          a(href='https://medium.com/makeup-fit', target='_blank')
            | Medium

        small.copyright #{site.copyright}

    <!--[if IE]>
    .browserupgrade
    p
      | You are using an strong outdated  browser. Please
      | a(href='http://browsehappy.com/') upgrade your browser to improve
      | your experience and security.
    <![endif]-->

    <!--[if lt IE 10]>
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.4.min.js"><\\/script>')
    script(src='/js/polyfill/ie-love.js')
    <![endif]-->

    <!--[if gt IE 9]><!-->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/vendor/jquery-3.1.0.min.js"><\\/script>')
    <!--<![endif]-->

    block script

    script(src='/js/app.js')

    if production
      script.
        !function(t,e,a){var r,n,c,i,o,s,l,u;if(null==t.analytics){for(r=[],r.methods=["ab","alias","group","identify","off","on","once","page","pageview","ready","track","trackClick","trackForm","trackLink","trackSubmit"],l=r.methods,c=function(t){r[t]=function(){var e;return e=Array.prototype.slice.call(arguments),e.unshift(t),r.push(e),r}},i=0,o=l.length;o>i;i++)s=l[i],c(s);return u=e.createElement("script"),u.async=!0,u.type="text/javascript",u.src=a,n=e.getElementsByTagName("script")[0],n.parentNode.insertBefore(u,n),t.analytics=r}}(window,document,"//cdn.hanzo.io/a/makeupfit.js");
